/* Footer styles */

.footer {
    background-color: var(--theme-color-primary);
    color: var(--color-light);
    padding: 20px;
    text-align: center;
}

/* Copyright styling */
.copyright {
    background-color: var(--theme-color-primary);
    color: var(--color-light);
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}


.footer__links {
    display: flex;
    justify-content: space-around;
}

.footer__link {
    color: var(--color-light);
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer__link:hover {
    color: var(--color-dark);
}
