h1 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: calculate-font-size(6);
}

h2 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: calculate-font-size(5);
}

h3 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: calculate-font-size(4);
}

h4 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: calculate-font-size(3);
}

h5 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: calculate-font-size(2);
}

h6 {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: calculate-font-size(1);
}

p {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.monochromatic-container {
  background-color: black;
  color: #EEEEEE;
}

.analogous-container {
  background-color: #002d4c;
  color: #EEEEEE;
}

.complementary-container {
  background-color: #4c1f00;
  color: #EEEEEE;
}

.split-complementary-container {
  background-color: #002d4c;
  color: #EEEEEE;
}

.triadic-container {
  background-color: #2d4c00;
  color: #EEEEEE;
}

.square-container {
  background-color: #4c1f00;
  color: #EEEEEE;
}

.rectangle-container {
  background-color: #2d4c00;
  color: #EEEEEE;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.horizontal {
  list-style: none;
  padding: 0;
}

.horizontal li {
  display: inline-block;
  margin-right: 10px;
}

.verticla {
  list-style: none;
}

.orderd-list {
  list-style: none;
}

.unorderd-list {
  list-style: none;
}

.numbered-list {
  list-style: none;
}

/* Style for the horizontal navigation */
.horizontal {
  display: flex;
  align-items: center;
}

.horizontal li {
  margin-right: 15px;
  color: #EEEEEE;
}

.horizontal .socials {
  display: flex;
  margin-right: 15px;
}

.horizontal .socials li {
  margin-right: 10px;
}

.horizontal a {
  text-decoration: none;
  color: #EEEEEE;
}

.layered-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.layered-image .layered-column {
  width: 100%;
}

.layered-1 {
  position: absolute;
  top: 0;
  left: 0%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-2 {
  position: absolute;
  top: 0;
  left: 7.6923076923%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-3 {
  position: absolute;
  top: 0;
  left: 15.3846153846%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-4 {
  position: absolute;
  top: 0;
  left: 23.0769230769%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-5 {
  position: absolute;
  top: 0;
  left: 30.7692307692%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-6 {
  position: absolute;
  top: 0;
  left: 38.4615384615%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-7 {
  position: absolute;
  top: 0;
  left: 46.1538461538%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-8 {
  position: absolute;
  top: 0;
  left: 53.8461538462%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-9 {
  position: absolute;
  top: 0;
  left: 61.5384615385%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-10 {
  position: absolute;
  top: 0;
  left: 69.2307692308%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-11 {
  position: absolute;
  top: 0;
  left: 76.9230769231%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-12 {
  position: absolute;
  top: 0;
  left: 84.6153846154%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-13 {
  position: absolute;
  top: 0;
  left: 92.3076923077%;
  width: 7.6923076923%;
  height: 100%;
}

.layered-image img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(10%);
}

.layered-1 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Text color */
  width: 100%;
}

.layered-1 h1 {
  font-size: calculate-font-size(3);
  margin: 0;
}

.heading-1 {
  font-size: 4rem;
}

.heading-2 {
  font-size: 3rem;
}

.heading-3 {
  font-size: 2rem;
}

.heading-4 {
  font-size: 1rem;
}

.padding-5 {
  padding: 15px;
}

.padding-4 {
  padding: 12px;
}

.padding-3 {
  padding: 9px;
}

.padding-2 {
  padding: 6px;
}

.padding-1 {
  padding: 3px;
}

.margin-5 {
  margin: 15px;
}

.margin-4 {
  margin: 12px;
}

.margin-3 {
  margin: 9px;
}

.margin-2 {
  margin: 6px;
}

.margin-1 {
  margin: 3px;
}

nav {
  padding: 0px;
  margin: 0px;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.navigation {
  background-color: #002d4c;
  padding: 15px 10px 15px;
}

.navigation ul {
  padding: 0px;
}

.navigation .navigation-list {
  padding: 10px 5px 10px;
}

.navigation .active {
  color: #b66508;
  font-weight: bold;
}

.navigation .logo {
  height: 12px;
  width: auto;
  padding: 0px 10px 0px;
}

.navigation .icons {
  padding: 0px;
}

.navigation .form {
  padding: 0px;
}

.button-full,
.button-outlined,
.button-round {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button-full {
  background-color: #002d4c;
  color: #EEEEEE;
  border: none;
}

.button-outlined {
  background-color: transparent;
  color: #002d4c;
  border: 2px solid #002d4c;
}

.button-round {
  background-color: #002d4c;
  color: #EEEEEE;
  border: 2px solid #002d4c;
  border-radius: 50px;
}

/* Hover state */
.button-full:hover,
.button-outlined:hover,
.button-round:hover {
  background-color: #000f19;
  color: white;
  border-color: #000f19;
}

/* Active state */
/* Focus state (optional) */
.button-full:focus,
.button-outlined:focus,
.button-round:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 45, 76, 0.5);
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

.code-section {
  background-color: #000000;
  color: white;
}
.code-section .header {
  background-color: #CBCBD4;
  color: #000000;
  padding: 4px;
}
footer {
  margin: 0px;
  padding: 0px;
  background-color: #002d4c;
  text-align: center;
}

.footer {
  margin: 0px;
  padding: 0px;
  background-color: #002d4c;
  color: #EEEEEE;
  text-align: center;
}
.footer .part {
  margin: 0px;
  padding: 10px;
}

/*# sourceMappingURL=kubu.css.map */
