// KUBU.scss

@import url(kubu-fonts.css);
@import url(kubu-icons.css);


// =======================================
// COLORS
// =======================================
$dominant-color: #002d4c;
$complementary-color: #b66508;
$accent-color: #cbcbd4;
$black-color: #000000;
$white-color: #eeeeee;

// Kubu Colors
$theme-colors: (
  "dominant": #002d4c,
  "complementary": #b66508,
  "accent": #3ce7a0,
  "primary": #626ed4,
  "secondary": #343549,
  "success": #2aa39a,
  "danger": #ec4561,
  "warning": #f8b425,
  "info": #38a5f8,
  "light": #f8f8fa,
  "dark": #575c62,
  "muted": #edecf1,
);


// =======================================
// FONT & SIZING
// =======================================


// Font Variables
$serif-font: "Gowun Batang", "Noto Serif", "Didot", "Baskerville", "Palatino",
  "Georgia", "Times New Roman", serif;
$sans-serif-font: "Inter", "Bebas Neue", "Verdana", "Helvetica", "Arial",
  sans-serif;
$mono-font: "Monaco", "Lucida Console", "Courier New", "Andalé Mono", monospace;
$cursive-font: "Playfair Display", "Brush Script MT", "Bradley Hand", cursive;

$default-font-family: $sans-serif-font;
$default-font-size: 16px;
$default-line-height: 1.5;

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $default-font-family;
    line-height: $default-line-height;
    font-size: calculate-font-size(7 - $i);
    margin: 0px;
  }
}


h1 {
  font-family: $default-font-family;
  line-height: $default-line-height;
  font-size: 7rem;
  margin: 0px;
  
  .fun {}
  .casual {}
  .semi-casual {}
  .formal {}
  .heading {}

}


p {
  font-family: $sans-serif-font;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

a {
    text-decoration: none;
    color: $white-color;
    // font-family: $serif-font;
    font-family: $sans-serif-font;

}


.padding-5{
  padding: 15px;
}
.padding-4{
  padding: 12px;
}
.padding-3{
  padding: 9px;
}
.padding-2{
  padding: 6px;
}
.padding-1{
  padding: 3px;
}



body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 0px;
  margin: 0px;
}


.button-full,
.button-outlined,
.button-rounded {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button-full {
  background-color: $dominant-color;
  color: $white-color;
  border: none;
}

.button-outlined {
  background-color: transparent;
  color: $dominant-color;
  border: 2px solid $dominant-color;
}

.button-rounded {
  background-color: $dominant-color;
  color: $white-color;
  border: 2px solid $dominant-color;
  border-radius: 50px;
}

/* Hover state */
.button-full:hover,
.button-outlined:hover,
.button-rounded:hover {
  background-color: darken($dominant-color, 10%);
  color: lighten($white-color, 10%);
  border-color: darken($dominant-color, 10%);
}

/* Active state */
.button-full:active,
.button-outlined:active,
.button-round:active {
  background-color: darken($dominant-color, 20%);
  color: lighten($white-color, 20%);
  border-color: darken($dominant-color, 20%);
}

/* Visited state */
.button-full:visited,
.button-outlined:visited,
.button-round:visited {
  color: darken($dominant-color, 20%);
}

/* Focus state (optional) */
.button-full:focus,
.button-outlined:focus,
.button-rounded:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 45, 76, 0.5);
}


// Orrientation
.horizontal{
    ul {
    list-style: none;
    padding: 0;
    }

    li {
    display: inline-block;
    margin-right: 10px;
    }
}

.vertical{

}

nav {
  margin: 0px;
  padding: 0px;
  background-color: $dominant-color;

  .navigation {
    margin: 0px;
    padding: 10px 0px 10px;
    position: absolute;
    top: 0px;

    background-color: $dominant-color;
    color: $white-color;

    .navigation-list {
      text-decoration: none;
   
        
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

footer {
  margin: 0px;
  padding: 0px;
  background-color: $dominant-color;

  .footer {
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0;

    background-color: $dominant-color;
    color: $white-color;

    width: 100%;
    margin: 0px;
    padding: 1px 0px 1px;

    text-align: center;

    .part {
      margin: 0px;
      padding: 10px;
    }
  }
}


.content{}

// =======================================
// LAYERED IMAGE
// =======================================

// Columns & Rows
$no-of-columns: 26;
$column-width: 3.846153846153846%; // 100% / 26

.layered-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0px;
    padding: 0px;
  
    .layered-column {
      width: 100%;
    }
  }
  
  @for $i from 1 through $no-of-columns {
    .layered-#{$i} {
      position: absolute;
      top: 0;
      left: #{($i - 1) * $column-width};
      width: $column-width;
      height: 100%;
    }
  }
  
  .layered-image img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(10%);
  }
  
  .layered-1 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Text color */
    width: 100%;
  }
  
  .layered-1 h1{
    font-size: calculate-font-size(3);
    margin: 0;
  }
  
  
// .mid-section {
//   max-width: 1140px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 15px;
//   padding-right: 15px;
// }

// .rw {
//   display: flex;
//   justify-content: space-evenly;
//   row-gap: 0px;
// }

// .c-5 {
//   width: 1%;
// }

// /* Reset some default styles */
// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }

// /* Container to hold the grid */
// .container {
//   max-width: 1200px;
//   margin: 0 auto;
//   padding: 20px;
// }

// /* Define the grid */
// .row {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0 -10px; /* Adjust for column padding */
// }

// /* Define column styles */
// .col {
//   flex: 1;
//   padding: 10px; /* Adjust as needed */
// }

// /* Media query for small screens */
// @media (max-width: 767px) {
//   .col {
//     flex: 0 0 100%; /* Take up full width */
//   }
// }

// /* Media query for medium screens */
// @media (min-width: 768px) and (max-width: 991px) {
//   .col {
//     flex: 0 0 50%; /* Take up half width */
//   }
// }

// /* Media query for large screens */
// @media (min-width: 992px) {
//   .col {
//     flex: 0 0 33.333%; /* Take up one-third width */
//   }
// }