
:root {
    --button-primary-bg: var(--theme-color-primary);
    --button-primary-color: var(--color-light);
    --button-secondary-bg: var(--theme-color-secondary);
    --button-secondary-color: var(--color-light);
}

.button {
    display: inline-block;
    padding: var(--space-sm) var(--space-md);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-decoration: none;
    border-radius: var(--space-xs);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.button--primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-color);
    border: 1px solid var(--button-primary-bg);
}

.button--primary:hover {
    background-color: darken(var(--button-primary-bg), 10%);
}

.button--secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-color);
    border: 1px solid var(--button-secondary-bg);
}

.button--secondary:hover {
    background-color: darken(var(--button-secondary-bg), 10%);
}

.button--outline {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button--outline:hover {
    background-color: var(--color-primary);
    color: var(--color-light);
}

/* Additional Button Styles */
.button--danger {
    background-color: var(--color-danger);
    color: var(--color-light);
    border: 1px solid var(--color-danger);
}

.button--hazard {
    background-color: var(--color-hazard);
    color: black;
    border: 1px solid var(--color-hazard);
}

.button--risk {
    background-color: var(--color-risk);
    color: black;
    border: 1px solid var(--color-risk);
}

.button--safe {
    background-color: var(--color-safe);
    color: var(--color-light);
    border: 1px solid var(--color-safe);
}

.button--info {
    background-color: var(--color-info);
    color: var(--color-light);
    border: 1px solid var(--color-info);
}

.button--radiation {
    background-color: var(--color-radiation-light);
    color: var(--color-light);
    border: 1px solid var(--color-radiation-light);
}

.button--earth {
    background-color: var(--color-earth);
    color: var(--color-light);
    border: 1px solid var(--color-earth);
}

/* Rounded Buttons */
.button--rounded-2 {
    border-radius: var(--space-ss);
}

.button--rounded-4 {
    border-radius: var(--space-xs);
}

.button--rounded-8 {
    border-radius: var(--space-sm);
}

.button--rounded-12 {
    border-radius: var(--space-md);
}

.button--rounded-circle {
    border-radius: 50%;
    padding: var(--space-3);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Plain Buttons */
.button--plain {
    background-color: white;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button--plain:hover {
    background-color: var(--color-primary);
    color: white;
}

/* Shadow Buttons */
.button--shadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button--shadow:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Disabled Button */
.button--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Button Sizes */
.button--small {
    font-size: 12px;
    padding: 10px 24px;
}

.button--medium {
    font-size: 16px;
    padding: 14px 40px;
}

.button--large {
    font-size: 20px;
    padding: 16px 48px;
}

.button--xlarge {
    font-size: 24px;
    padding: 18px 56px;
}

/* Button Groups */
.button-group {
    display: flex;
}

.button-group .button {
    margin: 0;
}

.button-group .button:not(:last-child) {
    border-right: none;
}

.button-group .button--outline:not(:last-child) {
    border-right: 1px solid var(--color-primary);
}

/* Button Groups */
.button-group {
    display: flex;
}

.button-group .button {
    margin: 0;
}

.button-group .button:not(:last-child) {
    border-right: none;
}

.button-group .button--outline:not(:last-child) {
    border-right: 1px solid var(--color-primary);
}


/* Themes */
.button--light {
    background-color: var(--color-light);
}

.button--dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}


/* functionality Buttons */
.copy-checkbox {
    display: none;
}

.copy-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    color: #227093;
    background-color: transparent;
    border: 1px solid #227093;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.copy-btn::after {
    content: "Copied!";
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #227093;
    color: white;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.3s, opacity 0.3s;
}

.copy-btn:hover {
    background-color: #227093;
    color: white;
}

.copy-checkbox:checked + .copy-btn::after {
    opacity: 1;
    transform: translateY(0);
    animation: revertCopy 2s ease forwards;
}

/* Revert back to "Copy Code" after the animation */
@keyframes revertCopy {
    0%, 80% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; }
}

.copy-btn:hover {
    background-color: #227093;
    color: white;
}
