.close-button {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: var(--font-size-xs);;
    color: var(--color-light);
    background: var(--theme);
    cursor: pointer;
}

.close-button::before {
    content: "\00D7";
    font-size: 1rem;
}

.close-button:hover {
    background: var(--color-secondary);
}
