
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Font families */
    --font-family-sans: Raleway, Montserrat, Helvetica, sans-serif;
    --font-family-serif: 'Lora','Playfair Display','Georgia', Times, 'Times New Roman', serif;
    --font-family-mono: 'Courier New', Courier, monospace;


    /* Font sizes */
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-size-xxxl: 3rem;


    /* Font weights */
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Line heights */
    --line-height-sm: 1.2;
    --line-height-md: 1.5;
    --line-height-lg: 1.75;

    /* Letter spacing */
    --letter-spacing-sqush: -0.055em;
    --letter-spacing-tight: -0.025em;
    --letter-spacing-normal: 0em;
    --letter-spacing-wide: 0.1em;

    /* Text colors */
    --text-color-primary: var(--color-primary);
    --text-color-secondary:var(--color-primary);
    --text-color-light: #aaa;
    --text-color-inverse: #fff;

}

/* Base typography styles */
body {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-md);
    color: var(--text-color-primary);
}

.title {
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xxxl);
    letter-spacing: var(--letter-spacing-sqush);
    margin-bottom: 0px;
}

.subtitle {
    font-family: var(--font-family-sans);
    font-size:  var(--font-size-xxl);
    margin-bottom: 0px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.5em 0;
    line-height: var(--line-height-lg);
    color: var(--text-color-primary);
}

h1 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
}

h4 {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
}

h5 {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-normal);
}

h6 {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-normal);
}

/* Paragraphs */
p {
    margin: 0 0 1em 0;
    line-height: var(--line-height-lg);
    color: var(--text-color-secondary);
}

/* Links */
a {
    color: var(--text-color-primary);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* Other text elements */
small {
    font-size: var(--font-size-xs);
    color: var(--text-color-light);
}

strong {
    font-weight: var(--font-weight-bold);
}



em {
    font-style: italic;
}

/* Lists */
ul, ol {
    margin: 0 0 1em 1.5em;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

.list-title {
    font-family: var(--font-family-sans);
    font-weight: var(--font-weight-bold);
    font-size: inherit;
    letter-spacing: var(--letter-spacing-sqush);
    margin-bottom: 0px;
}

/* Unstyled List */
.list-unstyled {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-bottom: .5rem !important;
    padding-top: .5rem !important;
}

.list-unstyled li {
    /*margin-bottom: 0.5em;*/
    margin-bottom: 0px;
    padding: 0px;
}

/* Inline List */
.list-inline {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 0.5em;
}

.list-inline li {
    display: inline;
    margin-right: 0.5em;
}

/* Description List with Alignment */
.description-list {
    display: flex;
    flex-wrap: wrap;
}

.description-term {
    font-weight: bold;
    flex-basis: 30%;
    padding-right: 1em;
}

.description-definition {
    flex-basis: 70%;
    margin-bottom: 0.5em;
}

/* Optional: Spacing adjustments for better readability */
.description-list dt, .description-list dd {
    margin: 0;
    padding: 0;
}

/* List Link */
.list-link {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.list-link li {
    margin-bottom: 0.5em;
}

.list-link li a {
    color: #007bff; /* Primary color */
    text-decoration: none;
    transition: color 0.3s;
}

.list-link li a:hover {
    color: #0056b3; /* Darker shade on hover */
}

/* List Item */
.list-item {
    font-size: var(--font-size-xs);
    padding: 0.5em 1em;
    margin: 0.25em 0;
    /*background-color: #f8f9fa;*/
    /*border: 1px solid #dee2e6;*/
    /*border-radius: 0.25rem;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.list-item:hover {
    background-color: #e9ecef;
}

/* Example: Active List Item */
.list-item.active {
    background-color: #007bff;
    color: var(--color-light);
}

.list-item.active:hover {
    background-color: #0056b3;
}
