// Colors
$dominant-color: #002d4c;
$complementary-color: #b66508;
$accent-color: #3ce7a0;

$black-color: #000000;
$white-color: #EEEEEE;


// Typography
$default-font-family: 'Arial', sans-serif;
$default-font-size: 16px;
$default-line-height: 1.5;

// Spacing
$base-spacing: 10px;
$margin: $base-spacing;
$padding: $base-spacing;

// Grid System
$grid-columns: 13;
$grid-gutter-width: 20px;

// Breakpoints
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;

// Buttons
$button-background-color: $dominant-color;
$button-text-color: $accent-color;
$button-padding: 10px 20px;

// Forms
$input-border-color: #ccc;
$input-padding: 8px;

// Navigation
$nav-background-color: #333;
$nav-text-color: $accent-color;

// Box Shadows
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// Z-Index
$z-index-modal: 1000;
$z-index-dropdown: 500;

// Kubu Colors
$theme-colors: (
  "primary": #626ED4,
  "secondary": #343549,
  "success": #2AA39A,
  "danger": #EC4561,
  "warning": #F8B425,
  "info": #38A5F8,
  "light": #f8f8fa,
  "dark": #575c62,
  "muted": #EDECF1
);

// Theme Buttons
.kubu-btn {
  display: inline-block;
  padding: .375rem .75rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #212529;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }
}

@each $name, $color in $theme-colors {
  .kubu-btn-#{$name} {
    background-color: $color;
    color: white;
  }
}

// Columns & Rows
$no-of-columns: 13;
$column-width: 7.6923076923076923076923076923077%; // 100% / 13

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);

// Container styles
@mixin container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

// Row styles
@mixin row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

// Column styles
@mixin column($size) {
  flex: 0 0 #{($size * $column-width)};
  max-width: #{($size * $column-width)};
}

// Animation classes
@mixin animate {
  transition: all 0.3s ease-in-out;
}

// components
.kubu-container {
  @include container;
}

.kubu-row {
  @include row;
}

.kubu-column {
  @include column(1);
}

// Add classes for different column sizes
@for $i from 2 through $no-of-columns {
  .kubu-column-#{$i} {
    @include column($i);
  }
}

// Animation class
.kubu-animate {
  @include animate;
}
