.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab__label,
.tab__close {
    display: flex;
    color: white;
    background: var(--theme);
    cursor: pointer;
}

.tab__label {
    justify-content: space-between;
    padding: 1rem;
}

.tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
}

.tab input:checked + .tab__label::after {
    transform: rotate(270deg);
}

.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    background-color: var(--color-light);
}

.tab input:checked ~ .tab__content {
    max-height: 10rem;
}

.tab__content p {
    margin: 0;
    padding: 1rem;
}
