<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <title>Breadcrumbs Page</title>
</head>
<body>


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Components</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Accordion</li>
    </ol>
</nav>

<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Library</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Data</li>
    </ol>
</nav>

<nav class="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Library</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Data</li>
    </ol>
</nav>

<nav class="breadcrumb breadcrumb--slash">
    <ol class="breadcrumb">
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Library</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Data</li>
    </ol>
</nav>

<nav class="breadcrumb breadcrumb--dot">
    <ol class="breadcrumb">
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Library</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Data</li>
    </ol>
</nav>

<nav class="breadcrumb breadcrumb--arrow">
    <ol class="breadcrumb">
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Home</a></li>
        <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Library</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Data</li>
    </ol>
</nav>
</body>
</html>
