body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to full viewport height */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


.page-layout {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.page-layout--disabled{

}

.main-container {
    display: flex;
    flex: 1; /* Allow the main container to grow to fill remaining space */
}

.sidebar {
    flex: 1;
    padding: 1rem 2rem 1rem;
    border-radius: 15px;
}

/* Left sidebar specific styling */
.left-sidebar {
    order: 1;
    max-width: 300px;
}

/* Main content styling */
.main-content {
    flex: 2; /* Main content takes up twice the space */
    padding: 0rem 3rem 0rem;
    order: 2;
}

/* Right sidebar styling */
.right-sidebar {
    order: 3;
    text-align: left;
    max-width: 300px;
}


.nav-item {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin-top: auto; /* Push the footer to the bottom of the page */
}

.copyright {
    /*background-color: #6c757d;*/
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}