body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to full viewport height */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.top-bar {
    display: flex;
    justify-content: flex-end;
}

.user-settings, .user-profile, .messages {
    margin-right: 10px;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex: 1; /* Allow the main container to grow to fill remaining space */
}

.sidebar {
    flex: 0 0 200px;
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content {
    flex: 1;
    /*padding: 20px;*/
}

.nav-item {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    margin-top: auto; /* Push the footer to the bottom of the page */
}

.copyright {
    /*background-color: #6c757d;*/
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
}