.demo_product{
    background-color: #ff88001f;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.demo_product--flex-row{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.demo_code {
    background-color: #002B36;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.demo_code code {
    color: var(--color-light)
}

.demo_code pre {
    overflow-x: auto;
}


.border_left{
    border-left: 6px solid var(--color-primary);
    /*background-color: var(--color-primary);*/
    padding: 10px;
    margin: 5px;
}


.border_right{
    border-right: 6px solid var(--color-primary);
    /*background-color: var(--color-primary);*/
    padding: 10px;
    margin: 5px;

}


.border_top{
    border-top: 6px solid var(--color-primary);
    /*background-color: var(--color-primary);*/
    padding: 10px;
    margin: 5px;
}

.border_bottom{
    border-bottom: 6px solid var(--color-primary);
    /*background-color: var(--color-primary);*/
    padding: 10px;
    margin: 5px;


}


.border-hr {
    background-color: var(--color-primary);
    border-radius: 9999px;
    height: .25rem;
    margin: 1em auto;
    width: 4em;
}

.section{
    margin: 30px 0px 30px;
}